/* body {
    background: red;
} */


.topNav {
  background: yellowgreen;
}

.hero {
  background: linear-gradient(89.9deg, rgba(183, 204, 53, 0.31) 30.41%, rgba(110, 219, 121, 0.71) 90.59%);
  min-height: 60vh;
}

/* title */

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 0.2rem;

  margin-bottom: 2rem;
}

.title span {
  border-bottom: 5px solid yellowgreen;
  padding: 0.5rem 2rem;
}

/* icons */

.icons {
  /* font-size: 2rem; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons div {
  /* margin-bottom: 2rem; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icons i {
  font-size: 5rem;
}

.fa-figma {
  color: linear-gradient(purple, blue, red, green);

  /* -webkit-background-color: transparent; */

}


/* projects */

.projects {
  background: linear-gradient(180deg, rgba(109, 211, 150, 0.33) 0%, rgba(218, 209, 130, 0.33) 23.96%, rgba(254, 254, 254, 0.33) 41.15%, rgba(159, 226, 74, 0.2706) 73.44%);
}


/* Contact Me */

.contact {
  background: rgb(149, 179, 90);
}

.contact i {
  /* font-size: 3rem; */
}


#go-up {
  position: fixed;
  bottom:30px;
  right: 20px;
  font-size: 3rem;
}

#go-up {
  box-shadow: -5px 5px 10px grey;
}